#### we will ignore all files
animal.txt
app.drawio
System_Requirements.txt
upload.txt
crops.txt
loginSignupBackup.txt
reactfolderstructure.txt
ArchitecturalFile.txt
Roadmap.txt
BackupReact.txt
Scheduling.txt
structure.txt
colorRoadmap.txt
